.headerContainer {
    width: 100%;
    background-image: url("../img/heroBG3.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position:top;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*animation-name: headerAnimate
    animation-duration: 40s;
    animation-iteration-count: infinite;*/
}

.heroText {
    width: 100%;
    color: rgb(256, 256, 256);
    font-weight: 400;
    text-align: center;

    & h1 {
        font-weight: 400;
        font-size: 3em;
        text-shadow: 0.01em 0.01em 0.1em $grey;
    }

    & h2 {
        font-weight: 400;
        font-size: 1.8em;
        text-shadow: 0.01em 0.01em 0.1em $grey;
    }

}