
@media (min-width: 768px) {

    .headerContainer {
        height: 50vh;
        width: auto;
    }

   
    .btnSection {
        color: $white;
        width: 100%;
        height: 100%;
    
    }

   
    .section1 {
        width: 25%;
        min-width: 192px;
        height: 40vh;
        min-width: 192px;
    }

    .section2 {
        width: 25%;
        height: 40vh ;
        min-width: 192px;

    }

    .section3 {
        width: 25%;
        height: 40vh ;
        min-width: 192px;
       
    }

    .section4 {
        width: 25%;
        height: 40vh;
        min-width: 192px;
        
    }

    .mainContainer {
        display: flex;
        align-content: center;
        justify-content: center;
        max-width: 1980px;
    }

/* Pages */

    .mainContainerPages {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: $white;
    }

    .sectionArticle {

        & h3 {
        color: $blue;
        font-size: 2.5em;
        font-weight: 400;
        }

        & img {
            width: 120px;
        }
    }
       


    .sectionPicture {
        height: 80vh;
        background-position: right;
    }

    .footerContent {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 10vh;
        color: $white;
        background-color: $grey;

        & img {
            width: 25px;
            margin: 10px;
            justify-content: space-between;
        }

    }

    .footerContentPages {
        justify-content: space-around;
    }

    .footerContentPages p {
        display: contents;
    }

/* end Pages */

/** Contacto **/

.formContacto {
    padding: 40px;
}

    
}

@media (min-width: 1024px) {

    .headerContainer {
        height: 68vh;


    }

    .heroText {
        width: 100%;
        color: $white;
        font-weight: 400;
        text-align: center;
    
    
        & h1 {
            font-weight: 600;
            font-size: 5em;
            text-shadow: none;
        }
    
        & h2 {
            font-weight: 600;
            font-size: 2em;
            text-shadow: none;
        }

    }
    
    .mainContainer {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
   
    .section1 {
        width: 18vw;
        min-width: 220px;
        margin: 50px 8px;

        &:hover {
            transform: translateY(-10px);
	        transition: transform 0.3s;
        }

    }

    .section2 {
        width: 18vw;
        min-width: 220px;
        margin: 50px 8px;
    
        &:hover {
            transform: translateY(-10px);
	        transition: transform 0.3s;
        }

    }


    .section3 {
        width: 18vw;
        min-width: 220px;
        margin: 50px 8px;

        &:hover {
            transform: translateY(-10px);
	        transition: transform 0.3s;
        }

    }

    .section4 {
        width: 18vw;
        min-width: 220px;
        margin: 50px 8px;

        &:hover {
            transform: translateY(-10px);
	        transition: transform 0.3s;
        }

    }


   .btnSection {
    width: 18vw;
    min-width: 220px;
    height: 42vh;
    justify-content: flex-start;

        &:hover {
            background-color: $blue;
        }

        &.drk:hover {
            background-color: $drkBlue;
        }
    
        & h3 {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 20px;
        
        }

        & p {
            display:initial;
            width: 75%;
            text-align: center;
            font-size: 1em;
        }
    }

.iconSection {
    width: 80px;
    margin-top: 50px;

}

.footerContent {
    height: 15vh;
    margin-top: 30px;

    & img {
        width: 32px;
        margin: 10px;
        justify-content: space-around;
    }
}
    

/* contacto */

.pictureContacto {
    grid-area: pictureContacto;
    
}

.formContacto {
    grid-area: formContacto;
    width: 100%;
    padding: 40px;

}

.mapContacto {
    grid-area: mapContacto;
    width: auto;
    height: auto;
    
}

.mainContacto {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh auto;
    grid-template-areas: 
    "pictureContacto formContacto"
    "mapContacto formContacto";
}


}