/** Pages-header**/ 

.headerPages {
    width: 100%;
    height: 8vh;
    
}


/** Pages-Nav**/

.bgColorNavPages {
    background-color: $grey;
}

.bgColorNavPages ul a {
    color: $white;

    &:hover {
        font-weight: 600;
        color: $white;
    }
}



/** Pages-Main**/

.mainContainerPages {
    width: 100%;
    background-color: $white;
    line-height: 0.3em;
}

    
.sectionArticle {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;

    & h3 {
        color: $blue;
        font-size: 2em;
        font-weight: 600;
    }
        
    & h4 {
        color: $drkBlue;
        font-size: 2em;
        font-weight: 600;
        
    }

}

    .sectionArticle img {
        width: 100px;
    
    }

    .sectionArticleText {
        margin-bottom: 20px;

        & p {
            color: $grey;
            font-size: 1em;
            font-weight: 400;
            text-align: center;
            font-style: italic;
            padding-left: 10px;
            padding-right: 10px;
            max-width: 350px;
            line-height: 25px;
            
        }
    }

        
.btnCustom {
    background-color: $blue;
    border: 0px;
    padding: 10px;

    &.drk {
        background-color: $drkBlue;
    }

    &:hover {
        background-color: $ligthBlue;
    }

    & a {
        color: $white;
    }
}


.sectionPicture {
    width: 100%;
    height: 42vh;
    background-image: url(../img/servicios2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    &.diagnostico {
        background-image: url(../img/taller.jpg);
        background-position: center;
    }

    &.nosotros {
        background-image: url(../img/nosotros.png);
        background-position: center;
    }
}


/**Pages-Footer**/

.footerContentPages {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $grey;

    & p {
        display: none;
    }

    & img {
        width: 25px;
        margin: 10px;
        justify-content: space-between;
    }
}

/** Contacto **/

.headerContacto {
    width: 100%;
    height: 10vh;
}

form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
}
.mainContacto {
    width: 100%;
    height: auto;

}

.pictureContacto {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;

    & h3 {
        color: $drkBlue;
        font-size: 2em;
        font-weight: 600;
        padding-top: 10px;
    }
}


.mapContacto {
    height: 45vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.formContacto {
    width: 100%;
    height: auto;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    background-color: $drkBlue;
    
}

   .formGroup {
        max-width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        
        & p {
            color: $grey;
            font-size: 1em;
            padding: 10px;         
        }
   }    

    .field{
        padding: 10px;
        margin: 10px;
        width: 70vw;
        max-width: 400px;
    }

    .check {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


    .formbtn {
        width: 100px;
        height: 40px;
        margin: 5px;
    }

    .textAreaSize {
        width: 75vw;
        max-width: 400px;
        height: 20vh;
        resize: none;
    }

/* end contacto*/